/* 방명록 추가하는 모달창 */
* {
    font-family: Pretendard, sans-serif;
}

body {
    background: #f5f6f7;
  }

.main-top-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

}

.main-title-info {
    display: flex;
    flex-direction: column;
}

#open-add-btn {
    padding: 12px 20px; 
    border: none; 
    border-radius: 12px;
    background-color: #ff9216;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

    transition: all 0.3s ease; /* 부드럽게 움직이는 효과 */
}

/* 마우스 올렸을 때 */
#open-add-btn:hover {
    background-color: #ffa94d;
    transform: translateY(-2px); /* 살짝 위로 튀기는 효과 */
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}
 
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.15);

    visibility: hidden; /* 처음에는 안 보이게 해둠 */
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 999;
}

 .modal.active { /* 이걸 온오프해서 보이도록 */
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background: white;
    width: 20%;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    gap: 5px;
}


.modal-content input,
.modal-content textarea {
    border: 2px solid rgb(255, 255, 255);
    padding: 12px 14px;
    border-radius: 12px;
    font-size: 14px;
    background: #fafafa;
    transition: 0.2s; /* 누르면 테두리 바뀜!! */
    resize: none;

}

/* transition 테두리 색 변경 */
.modal-content input:focus,
.modal-content textarea:focus {
    outline: none;
    border: 2px solid #ff9216; 
}


#content {
    height: 50px;
}

.modal-content .button-container {
    display: flex; /* 버튼들을 가로로 배치 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    gap: 10px;
  }

.modal-content button {
    padding: 10px;
    font-weight: bold;
    width: 70px;
    border-radius: 12px;
    background-color: #ff9216;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

#close-add-btn {
    background-color: rgb(124, 123, 123);
}

.modal .content-title {
    font-weight: bold;
    font-size: 20px;
}

#main-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 6px;
}

/* 방명록 배치 그리드 형식으로 */
#guestbook-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
    justify-items: center;
    padding: 20px;

}

/* 새로 등록한 방명록 */
.newGuestBook {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 220px; height: auto;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}


.newGuestBook:hover {
    transform: translateY(-5px); /* 위로 살짝 뜨게 */
    box-shadow: 0 8px 16px rgba(0,0,0,0.15); /* 그림자 진하게 */
}

.new-title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 18px;
    margin-bottom: 8px;
}

.new-content {
    font-size: 15px;
    margin-bottom: 8px;
}

.new-name {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 2px;
}

.new-date {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color: gray;
}

.pw-del-container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 8px;
    margin-top: 10px;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
    width: 40px; height: 30px;
    border-radius: 10px;
    background-color: #ff9216;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #ffb347;
    transform: scale(1.02);
    transition: all 0.2s ease;
}

.delete-btn:active {
    transform: scale(1.0);
}

.check-password {
    border: none;
    width: 80px; height: 30px;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 14px;
    background: #fafafa;
    transition: 0.2s; /* 누르면 테두리 바뀜 */
}

/* transition 테두리 색 변경 */
.check-password input:focus {
    outline: none;
    border: 2px solid #ff9216; 
}